.FooterResumido{
    margin-top: 100px;
    font-family: "Bebas Neue";
    border-top: 3px solid rgba(4, 221, 45, 0.65);
    padding-top: 30px;
    width: 1150px;
    display: flex;
    justify-content: space-around;
}