.BotaoEditarSecao{
    width: 200px;
    height: 80px;
    flex-shrink: 0;
    border-radius: 50px;
    background: rgba(7, 232, 49, 0.50);
    color: #ffffff;
    font-family: "Bebas Neue";
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
    margin: 15px;
}

.IconeEditar{
    width: 36px;
    height: 36px;
}