.SecaoNossaHistoria{
    background-image: url('src/assets/ImagemProjeto.png');
    width: 1280px;
    height: 437px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}