.PaginaHistoria {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Garantir que o conteúdo ocupe toda a altura da tela */
  }
  
  .SecaoNossaHistoria {
    background-image: url('/assets/Imagens/ImagemProjeto.png');
    width: 100%; /* Garante que a imagem ocupe toda a largura */
    height: 437px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    flex-grow: 1; /* Faz com que a seção ocupe o espaço restante */
  }
  
  .TextoSecao {
    padding: 20px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo semitransparente */
  }
  
  .Footer {
    margin-top: auto; /* Empurra o rodapé para o fundo da página */
    padding-top: 100px; /* Aumenta muito o espaço entre o conteúdo e o rodapé */
    padding-bottom: 40px; /* Adiciona um pouco de espaçamento no final */
    background-color: #333; /* Cor de fundo do rodapé, ajuste conforme necessário */
    color: #fff; /* Cor do texto no rodapé */
    text-align: center; /* Alinha o texto do rodapé */
  }
  