.PaginaHistoria {
  display: flex;
  flex-direction: column;
  min-height: 100vh; 
}

.SecaoNossaHistoria {
  background-image: url('/assets/Imagens/ImagemProjeto.png');
  width: 100%; 
  height: 480px;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  flex-grow: 1; 
}

.MembrosTextoContainer {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  position: relative;
  margin-top: 50px;
}

.MembrosLista {
  display: inline-block;
  white-space: nowrap;
  animation: scrollText 150s linear infinite;
}

.MembroItem {
  display: inline-block;
  padding: 0 20px;
  font-size: 18px;
  font-weight: bold;
  color: #fff;
}

/* Animação para mover os nomes da direita para a esquerda */
@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}

.SecaoNossaHistoria{
  margin-bottom: 100px;
}

