.banner{
    padding-top: 45px;
    padding-bottom: 45px;
    width: 1241px;
    height: 554px;
    text-align: center;
}

.CamisetasEmDestaque{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    margin: 50px;
}

.SecaoProjeto{
    background-image: url('src/assets/ImagemProjeto.png');
    width: 1280px;
    height: 437px;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.TituloProjeto{
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 86px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ParagrafoProjeto{
    position: absolute;
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    width: 421px;
    height: 192px;
    flex-shrink: 0;
    top: 51px;
    right: 103px;
}

.SecaoCompeticao{
    display: flex;
    margin-top: 100px;
    margin-bottom: 100px;
    justify-content: space-around;
}

.ImagemCompeticao{
    width: 636px;
    height: 359px;
}

.TextosCompeticao{
    font-family: "Bebas Neue";
    margin-top: 0;
}

.TituloCompeticao{
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.ParagrafoCompeticao{
    width: 340px;
    height: 286px;  
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.9px;
    text-align: left;
    }