[data-md-color-primary=green] {
  --md-primary-fg-color: #184119;
  --md-primary-fg-color--light: #68bb6c;
  --md-primary-fg-color--dark:rgb(66, 100, 67);
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
}
[data-md-color-accent=light-green] {
  --md-accent-fg-color:rgb(135, 202, 104);
  --md-accent-fg-color--transparent: #63de171a;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

