[data-md-color-primary=green] {
  --md-primary-fg-color: #184119;
  --md-primary-fg-color--light: #68bb6c;
  --md-primary-fg-color--dark:rgb(66, 100, 67);
  --md-primary-bg-color: #fff;
  --md-primary-bg-color--light: #ffffffb3;
}
[data-md-color-accent=light-green] {
  --md-accent-fg-color:rgb(135, 202, 104);
  --md-accent-fg-color--transparent: #63de171a;
  --md-accent-bg-color: #fff;
  --md-accent-bg-color--light: #ffffffb3;
}

/* Cabeçalho e rodapé */
.md-header, .md-footer {
  background-color: var(--md-primary-bg-color) !important;
  color: var(--md-accent-fg-color) !important;
}

/* Links e botões */
.md-typeset a {
  color: var(--md-accent-fg-color);
}

.md-button {
  background-color: var(--md-primary-fg-color);
  color: white;
}

.md-button:hover {
  background-color: var(--md-accent-fg-color);
}

/* Barra de pesquisa */
.md-search__input {
  background-color: #222222;
  color: #ffffff;
}

.md-search__icon {
  color: var(--md-accent-fg-color);
}

/* Alteração da cor dos títulos */
.md-typeset h1, 
.md-typeset h2, 
.md-typeset h3, 
.md-typeset h4, 
.md-typeset h5, 
.md-typeset h6 {
  color: var(--md-accent-fg-color);
}

/* Cor de fundo dos blocos de código */
.md-code-block {
  background-color: #1b1b1b;
  border-left: 3px solid var(--md-accent-fg-color);
}

/* Ajuste para a navegação lateral */
.md-nav__link {
  color: white;
}

.md-nav__link--active {
  color: var(--md-accent-fg-color) !important;
}
