.Usuario{
    border: 5px solid rgba(4, 221, 45, 0.50);
    width: 600px;
    text-align: left;
    padding-left: 50px;
}

.Divisoria{
    width: 500px;
    height: 2px;
    background-color: rgba(7, 232, 49, 0.50);
    position: relative;
    margin: 20px 0;
}

.Divisoria::after{
    content: '';
    width: 12px;
    height: 12px;
    background-color: rgba(7, 232, 49, 1);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(50%, -50%);
}

.ContaDeLogin{
    padding-right: 35px;
}

