.Overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
  }
  
  .PopUp {
    background: #000000;
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(7, 232, 49, 0.50);
    max-width: 948px;
    height: 85%;
    width: 100%;
    color: #D9D9D9;
    display: flex;
    flex-direction: column;
  }

  .TituloPopUp{
    font-size: 32px;
  }

.CampoBotoes{
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}

  .BotaoConfirmarEdicao,
  .BotaoEditar,
  .BotaoExcluir,
  .BotaoAdicionar{
    width: 250px;
    height: 60px;
    border-radius: 50px;
    font-size: 24px;
    margin: 15px 10px;
    background-color: rgba(7, 232, 49, 0.50);
  }

  .BotaoFecharEdicao{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(7, 232, 49, 0.50);
  }

  .IconeFechar{
    display: block;
  }
 
  .ImgBanner{
    max-width: 750px;
    height: auto;
  }

  .ListaDeBanners{
    overflow-y: auto;
    height: 400px;
  }

  .InfoBanner{
    display: flex;
    justify-content: center;
    font-size: 24px;
    gap: 20px;
  }



  

  